{% extends 'base.html' %}

{% block title %}video_album_detail.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "photo/photo.css" %}{% endblock %}

{% block content %}
<div id='content'>

	<h2 style="display:inline">{{object.name}}</h2>
	&emsp;<b><i>{{object.description}}</i></b>

	<hr/>

	<div id="album-detail">
		{% for video in object.video_set.all %}
		<div class="album-detail-photo">
			<a href="{{video.get_absolute_url}}">
			<img class="thumbnail" src="{%static "video/icon.png"%}"/>
			</a>
			<li>{{video.title}}</li>
			<li>{{video.upload_date|date:"Y-m-d"}}</li>
		</div>
		{% endfor %}
	</div>

</div>
{% endblock %}
